@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$firstFont: 'Inter', sans-serif;

$red: #FF5959;
$green: #52DF68;
$bodyBlack: #292727;
$black: #343434;
$white: #FFFFFF;
$secondGrey: #969696;