/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
}

input {
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: 400;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #0097E6;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  outline: none;
  padding: 10px 15px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}

.right-column,
.display__menu {
  width: 387px;
}

.mid-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2BA9EA;
  padding: 50px 54px;
}

.display__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 35px;
}

.display__menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display__menu .input-text {
  border: none;
  border-radius: 10px;
  background-color: #FFFFFF;
  width: 100%;
}

.display__menu .input-text.with-checkbox {
  padding-right: 75px;
}

.display__menu .toggle-styles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 48px;
  margin-top: 50px;
}

.display__menu .toggle-styles-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 48px;
  margin-top: 20px;
}

.display__menu .checkbox-position {
  position: absolute;
  right: 10px;
  margin-top: 9px;
}

.display__menu .checkbox-container .toggle-button {
  display: none;
}

.display__menu .checkbox-container .toggle-button:checked + label {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.display__menu .checkbox-container label {
  width: 56px;
  height: 32px;
  border-radius: 100px;
  background-color: #0097E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4px;
}

.display__menu .checkbox-container label::before {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: block;
}

.display__menu .checkbox-container label.outline {
  border: 1.5px solid #FFFFFF;
}

.display__menu .green-text {
  color: #45F391;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-top: 40px;
}

.display__menu .--match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display__menu .match-type {
  color: #FFFFFF;
  font-size: 16px;
}

.display__menu .display__menu--match--type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 35px 0;
}

.display__menu .play-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.display__menu .play-button .button {
  width: 317px;
  height: 54px;
  background-color: #45F391;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
}

.display__menu .match-history {
  margin-top: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display__menu .match-history .match-history-text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
}

.display__menu .last-result {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.display__menu .round-winner {
  width: 168px;
  height: 50px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 31px 3px 15px;
  border-radius: 10px;
}

.display__menu .winner {
  color: #45F391;
  font-size: 14px;
  font-weight: 700;
}

.display__menu .winner-spot {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.display__menu .cenarium {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display__menu .battle-field-scenery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 25px;
}

.display__menu .mini-battle-field {
  width: 15px;
  height: 15px;
  background-color: #FFFFFF;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #828282;
  font-size: 12px;
  font-weight: 700;
}

.display__menu .reset-button {
  width: 317px;
  height: 54px;
  background-color: #FFFFFF;
  color: #0097E6;
  font-size: 24px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  margin-top: 100px;
}

.score-board {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 100px;
  border-radius: 15px;
  margin: 0 auto;
}

.board {
  margin-top: 10px;
  color: #0097E6;
  font-size: 20px;
  font-weight: 700;
}

.player-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 30px 19px 30px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.score {
  color: #0097E6;
  font-weight: 700;
  font-size: 48px;
}

.player {
  color: #828282;
  font-size: 16px;
  font-weight: 500;
}

.main-battle-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
  gap: 15px;
  width: 510px;
}

.battle-field {
  width: 160px;
  height: 160px;
  color: #828282;
  background-color: #FFFFFF;
  font-size: 130px;
  font-weight: 700;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 66px 35px;
}

.second-title {
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
}

.play-history-margin {
  margin-top: 28px;
}

.play-history {
  background-color: #FFFFFF;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 3px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.move {
  font-size: 48px;
  font-weight: 700;
  color: #828282;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.move-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player-description {
  color: #828282;
  font-size: 14px;
  font-weight: 700;
}

.play-description {
  color: #0097E6;
  font-size: 14px;
  font-weight: 400;
  margin-top: 6px;
}
/*# sourceMappingURL=styles.css.map */