@import "./css/_reset";


.calculator {
  width: 390px;
  background-color: $bodyBlack;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;

  &__display {
    width: 100%;
  }

  & .margin {
    margin-top: 45px;
    padding: 0px 20px;
  }

  &__display-input {
    background-color: transparent;
    outline: transparent;
    border: none;
    color: white;
    font-size: calculator-rem(48);
    width: 100%;
    text-align: right;
  }

  &__display-result {
    color: $secondGrey;
    font-size: calculator-rem(48);
    height: 48px;
    margin-top: 65px;
    text-align: right;
  }

  &__callback {
    margin-top: 20px;
    width: 24px;
    height: 24px;
  }

  & .line {
    width: 100%;
    border: 1px solid #4e4d4d;
    margin: 20px 0px;
  }

  &__buttons {
    padding: 0px 20px;

    &--button {
      background-color: $black;
      border-radius: 9px;
      color: $white;
      width: 73px;
      height: 75px;
      border: 0;
      font-size: calculator-rem(36);

      &:hover:not(:first-child):not(:last-child) {
        background-color: lighten($secondGrey, 10%);
      }
    }

    &--button-background-red {
      background-color: $red;
      &:hover {
        background-color: lighten($red, 10%);
      }
    }

    &--button-green-button {
      color: $green;
    }

    &--button-background-green {
      background-color: $green;
      color: $black;
      &:hover {
        background-color: lighten($green, 10%);
      }
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 19px;
    width: 100%;
    flex-wrap: wrap;
    &:not(:last-child){
      padding-bottom: 20px;
    }
  }
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;

  &__info {
    color: $white;
    font-size: calculator-rem(14);
    margin-right: 195px;
  }
}

.keyboard-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
  &-content{
    width: 135px;
    height: 5px;
    background-color: $white;
    border-radius: 100px;
  }
}